easyocr==1.4.1
imageio==2.9.0
networkx==2.6.3
numpy==1.21.5
opencv-python-headless==4.5.4.60
packaging==21.3
Pillow==8.2.0
pyparsing==3.0.6
python-bidi==0.4.2
PyWavelets==1.2.0
PyYAML==6.0
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
tifffile==2021.11.2
torch==1.10.1
torchvision==0.11.2
typing-extensions==4.0.1
